<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <h4><%= @user.name %>さんのいいねした投稿</h4>
      <!--@favoreites内のテーブルが空か確認-->
      <% if @favorites.exists? %>
        <ul class="list-group">
        <% @favorites.each do |favorite| %>
          <li class="list-group-item">
            投稿者：<%= link_to favorite.post.user.name, user_path(favorite.post.user_id) %>
            が<%= favorite.post.created_at %>に投稿 &nbsp; <%= favorite.post.updated_at %>に更新<br />
            <%= link_to favorite.post.title, post_path(favorite.post_id) %><br />
            いいね：<%= favorite.post.favorites.count %>件　コメント：<%= favorite.post.post_comments.count %>件<br />
          </li>
        <% end %>
        </ul>
      <% else %>
        <p>いいねした投稿はありません</p>
      <% end %>
    </div>
  </div>
</div>