<!--コメント一覧-->
<p> &emsp; コメント件数：<%= post.post_comments.count %>件</p>
<ul class="list-group list-group-flush">
<% post.post_comments.each do |post_comment| %>
  <li class="list-group-item">
    <%= attachment_image_tag post_comment.user, :profile_image, fallback: "no_image.jpg", size: '20x20', class: "rounded-circle" %>
    <%= link_to post_comment.user.name, user_path(post.user_id) %>さんが<br />
    <%= l post_comment.created_at, format: :long %>にコメント。<br />
    &nbsp;<%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true %>
    <% end %>
  </li>
<% end %>
</ul>