<h4>会員情報</h4>
<div class="py-3 profile_image">
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, class: "rounded-circle" %>
</div>
<div>
  【ニックネーム】<%= user.name %><br />
  【自己紹介】<br />
  <%= simple_format(user.introduction) %>
</div>

<table class="table">
  <tbody>
    <tr>
      <th>フォロー</th>
      <th><%= link_to user.followings.count, user_followings_path(user.id) %>人</th>
    </tr>
    <tr>
      <th>フォロワー</th>
      <th><%= link_to user.followers.count, user_followers_path(user.id) %>人</th>
    </tr>
    <tr>
      <th>いいねした投稿</th>
      <th><%= link_to favorite_posts.count, user_favorites_path(user.id) %>件</th>
    </tr>
  </tbody>
</table>
<% if user_signed_in? %>
  <% if user == current_user %>
    <div class="text-center py-2">
      <%= link_to "プロフィールを編集する", edit_user_path(user), class: "fas fa-edit text-dark" %>
    </div>
  <% else %>
    <% if current_user.following?(user) %>
      <%= link_to "フォロー外す", user_relationships_path(user.id), class: "btn btn-primary btn-block", method: :delete %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(user.id), class: "btn btn-success btn-block", method: :post %>
    <% end %>
  <% end %>
<% end %>