<div class="container">
  <div class="row">
    <div class="col-md-4 py-3">
      <%= render 'users/user_info', user: @user, favorite_posts: @favorite_posts %>
    </div>
    <div class="col-md-7 offset-md-1 py-3">
      <h4>投稿記事</h4>
      <%= link_to '新規投稿', new_post_path, class: 'btn btn-outline-warning' %>
        <ul class="list-group">
        <% @posts.each do |post| %>
          <li class="list-group-item">
            <%= link_to post.title, post_path(post.id) %><br />
            <%= l post.created_at, format: :long %>に投稿 &nbsp; <%= l post.updated_at, format: :long %>に更新<br />
            いいね：<%= post.favorites.count %>件　コメント：<%= post.post_comments.count %>件<br />
          </li>
        <% end %>
        </ul>
      <%#= paginate @posts %>
    </div>
  </div>
</div>