<p class="text-center" id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-3 py-3">
      <!--検索フォームを呼び出す-->
      <%= render 'searchs/search_form' %>
    </div>
    <div class="col-md-6 offset-md-1 py-3 mx-auto">
      <h4>新着投稿<small>（<%= @posts.count %>件）</small></h4>
      <ul class="list-group">
        <% @posts.each do |post| %>
          <li class="list-group-item">
            <%= attachment_image_tag post.user, :profile_image, :fill, 20, 20, class: "rounded-circle" %>
            <%= link_to post.user.name, user_path(post.user_id) %>さんが<%= l post.created_at, format: :long %>に投稿<br />
            タグ：<%= post.user.name %><br />
            <strong><%= link_to post.title, post_path(post.id) %></strong><br />
          </li>
        <% end %>
      </ul>
      <div class="text-center pt-3">
        <%=link_to "全ての投稿を見る", posts_path, class: "text-dark" %>
      </div>
    </div>
    <div class="col-md-3 py-3">
      <%= render 'tag_list', tag_lists: @tag_lists %>
    </div>
  </div>
</div>