<!--投稿一覧-->
<% if posts.exists? %>
  <ul class="list-group">
  <% posts.each do |post| %>
    <li class="list-group-item">
      投稿者：<%= link_to post.user.name, user_path(post.user_id) %><br />
      <%= link_to post.title, post_path(post.id) %><br />
      いいね：<%= post.favorites.count %>件　コメント：<%= post.post_comments.count %>件<br />
      <%= post.created_at %>に投稿 &nbsp; <%= post.updated_at %>に更新<br />
    </li>
  <% end %>
  </ul>
  <div class="pt-3">
    <%#= paginate posts %>
  </div>
<% else %>
  <h4 class="text-center py-3">投稿はありません</h4>
<% end %>