<h3>新規投稿フォーム</h3>
<%= form_with model: @post, local:true do |f| %>
  <h6>タイトル</h6>
  <%= f.text_field :title %>
  <h6>投稿内容</h6>
  <%= f.text_area :content %>
  <h6>画像</h6>
  <%= f.attachment_field :post_image %>
  <h6>共有設定</h6>
  <%= f.radio_button :is_shered, false %>
  <%= f.label :is_shered, '他のユーザーへ公開しない', value: false %>

  <%= f.radio_button :is_shered, true %>
  <%= f.label :is_shered, '公開する', value: true %>

  <div><%= f.submit '投稿', class: "btn btn-success" %></div>
<% end %>