<div class="container">
  <div class="row">
    <div class="col-md-8 py-3">
      <h3>投稿詳細</h3>
      <p>この投稿は共有されています。</p>
      <h5><strong><%= @post.title %></strong></h5>
      <!--現在ログイン中のユーザーの投稿の場合、ボタンを表示-->
      <% if @user == current_user %>
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-info" %>
        <%= link_to "削除", post_path(@post),method: :delete, class: "btn btn-danger" %>
      <% end %>
      <div>
        投稿者：<%= link_to @user.name, user_path(@user.id) %><br />
        <%= l @post.created_at, format: :default %>に投稿 &emsp;&emsp; <%= l @post.updated_at, format: :default %>に更新<br />
      </div>
      <div class="pt-3 border-top">
        <%= safe_join(@post.content.split("\n"),tag(:br)) %>
      </div>
    </div>

    <div class="col-md-4 py-3">
      <h5>【いいね】</h5>
      <% if user_signed_in? %>
        <div id="post_show_favorites_<%= @post.id %>">
          <%= render 'favorites/favorite', post: @post %>
        </div>
      <% else %>
        <h5>
          ※ログイン後に<br />
          &emsp;いいねが出来ます。
        </h5>
      <% end %>

      <h5 class="pt-3">【コメント】</h5>
      <div id="error_explanation">
        <% if @error_comment.present? %>
          <%= @error_comment.errors.full_messages %><br />
        <% end %>
      </div>
      <!--コメント一覧-->
      <dev id="post_show_comments_<%= @post.id %>">
        <%= render 'post_comments/post_comment', post: @post %>
      </dev>
      <% if user_signed_in? %>
        <!--コメント入力欄-->
        <div>
          <%= render 'post_comments/comment_form', post: @post, post_comment: @post_comment %>
        </div>
      <% else %>
        <h5>
          ※ログイン後に<br />
          &emsp;コメントが可能になります。
        </h5>
      <% end %>
    </div>
  </div>
</div>

