<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h3>投稿詳細</h3>
        <h6><%= @post.title %></h6>
        <!--ログインユーザーの投稿の場合、ボタンを表示-->
        <% if @user == current_user %>
          <%= link_to "編集", edit_post_path(@post), class: "btn btn-info" %>
          <%= link_to "削除", post_path(@post),method: :delete, class: "btn btn-danger" %>
        <% end %>
        <p>投稿者：<%= link_to @user.name, user_path(@user.id) %></p>
        <%= @post.created_at %>に投稿 &nbsp; <%= @post.updated_at %>に更新<br />
        <div>
          <%= @post.content %>
        </div>
    </div>

    <div class="col-md-4 offset-md-1">
      <h5>いいね</h5>
      <div id="post_show_favorites_<%= @post.id %>">
        <%= render 'favorites/favorite', post: @post %>
      </div>

      <h5>コメント</h5>
      <!--コメント一覧-->
      <dev id="post_show_comments_<%= @post.id %>">
        <%= render 'post_comments/post_comment', post: @post %>
      </dev>
      <!--コメント入力欄-->
      <div><%= render 'post_comments/comment_form', post: @post, post_comment: @post_comment %></div>
    </div>
  </div>
</div>

