<p class="text-center" id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-8 py-3">
      <h3>投稿詳細</h3>
      <!--現在ログイン中のユーザーの投稿の場合、ボタンを表示-->
      <% if @user == current_user %>
        <div class="text-center py-3">
          <% if @post.is_shered == true %>
            <div class="post-shere">この投稿は共有中です。</div>
          <% else %>
            <div class="post-not-shere">この投稿は未共有です。</div>
          <% end %>
        </div>
        <div class="text-right">
          <%= link_to "投稿を編集", edit_post_path(@post), class: "fas fa-edit text-dark" %>
        </div>
      <% end %>
      <h5><strong><%= @post.title %></strong></h5>
      <div>
        投稿者：<%= attachment_image_tag @post.user, :profile_image, :fill, 20, 20, class: "rounded-circle" %>
        <%= link_to @user.name, user_path(@user.id) %>
      </div>
      <div><%= l @post.created_at, format: :default %>に投稿 &emsp;&emsp; <%= l @post.updated_at, format: :default %>に更新</div>
      <div>タグ：<%= @post_tag %></div>
      <div class="pt-3 border-top">
        <%= safe_join(@post.content.split("\n"),tag(:br)) %><br />
        <%= attachment_image_tag @post, :post_image, :fill, 800, 540 %>
      </div>
    </div>

    <div class="col-md-4 py-3">
      <h5>【いいね】</h5>
      <% if user_signed_in? %>
        <div id="post_show_favorites_<%= @post.id %>">
          <%= render 'favorites/favorite', post: @post %>
        </div>
      <% else %>
        <h5>
          ※ログイン後に<br />
          &emsp;いいねが出来ます。
        </h5>
      <% end %>

      <h5 class="pt-3">【コメント】</h5>
      <div id="error_explanation">
        <% if @error_comment.present? %>
          <%= @error_comment.errors.full_messages %><br />
        <% end %>
      </div>
      <!--コメント一覧-->
      <dev id="post_show_comments_<%= @post.id %>">
        <%= render 'post_comments/post_comment', post: @post %>
      </dev>
      <% if user_signed_in? %>
        <!--コメント入力欄-->
        <div>
          <%= render 'post_comments/comment_form', post: @post, post_comment: @post_comment %>
        </div>
      <% else %>
        <h5>
          ※ログイン後に<br />
          &emsp;コメントが可能になります。
        </h5>
      <% end %>
    </div>
  </div>
</div>

