<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto py-3">
      <h3 class="pb-3">お問い合わせ内容確認</h3>
      <table>
        <tbody>
          <tr>
            <th>名前</th>
            <th><%= @inquiry.name %></th>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <th><%= @inquiry.email %></th>
          </tr>
          <tr>
            <th>件名</th>
            <th><%= @inquiry.subject_i18n %></th>
          </tr>
          <tr>
            <th>お問い合わせ内容</th>
            <th><%= @inquiry.message %></th>
          </tr>
        </tbody>
      </table>
      <%= form_with model: @inquiry, local: true do |f| %>
        <%=f.hidden_field :name %>
        <%=f.hidden_field :email %>
        <%=f.hidden_field :subject %>
        <%=f.hidden_field :message %>
        <%= f.submit '送信', class: "btn btn-success" %>
      <% end %>
      <%= form_with model: @inquiry, url: back_path, local: true do |f| %>
        <%=f.hidden_field :name %>
        <%=f.hidden_field :email %>
        <%=f.hidden_field :subject %>
        <%=f.hidden_field :message %>
        <%= f.submit '入力画面へ戻る', class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>